{% extends "site_base.html" %}
{% load i18n %}
{% load mptt_tags %}

{% block extra_js %}
<script type="text/javascript">
  window.catTree = {{ cat_tree | safe }};
  window.freqTree = {{ freq_tree | safe }};
</script>
{% endblock extra_js %}

{% block require_javascript %}
require(['homepage']);
{% endblock require_javascript %}

{% block head_title %}{% trans "QATrack+ Homepage" %}{% endblock %}

{% block body %}
<div class="row">
  <div class="col-sm-12 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">

    <div class="page-header text-center">
      <h1>{% trans "Bienvenido a QATrack+" %}</h1>
    </div>

    {% if perms.qa.add_testlistinstance %}
      <div class="box box-solid box-info">
        <div class="box-header">
          <h3 class="box-title">{% trans "Realizar control de calidad" %}</h3>
        </div>
          <a class="list-group-item" title="{% trans "Elija una unidad para realizar el control de calidad" %}" href="{% url 'choose_unit' %}">
            <i class="fa fa-cubes fa-lg fa-fw"></i> {% trans "Elija una unidad para realizar el control de calidad" %}
          </a>
          <a class="list-group-item" title="{% trans "Ver todas las listas de pruebas disponibles para realizar" %}" href="{% url 'all_lists' %}">
            <i class="fa fa-pencil-square fa-lg fa-fw"></i> {% trans "Ver todas las listas de pruebas disponibles para realizar" %}
          </a>
          <a class="list-group-item" href="{% url "in_progress" %}" title="{% trans "Reanudar una sesión de control de calidad en progreso" %}">
            <i class="fa fa-play fa-lg fa-fw" aria-hidden="true"></i>
            {% trans "Reanudar una sesión de control de calidad actualmente en curso" %}
            <span title="{% blocktrans %}Actualmente hay {{ USERS_IN_PROGRESS }} sesiones de control de calidad en progreso{% endblocktrans %}" class="label {% if USERS_IN_PROGRESS == 0%}label-success{%else%}label-warning{%endif%} unreviewed-count-wrapper">
                <span class="total-in-progress-count">{{ USERS_IN_PROGRESS }}</span>
            </span>
          </a>
          <div class="list-group-item">
            <i class="pull-left fa fa-stack fa-fw fa-lg">
              <i class="fa fa-cubes fa-stack-custom-sub lower-left"></i>
              <i class="fa fa-clock-o fa-stack-custom-sub"></i>
            </i>
            <div class="pull-left site-qc-tree" id="site-freq-qc-tree">
              <i class="fa fa-spinner fa-spin fa-lg fa-fw"></i>
              <span>{% trans "Loading QC Unit & Frequency Tree" %}...</span>
            </div>
            <div class="clearfix"></div>
          </div>
          <div class="list-group-item">
            <i class="pull-left fa fa-stack fa-fw fa-lg">
              <i style="left: -10px" class="fa fa-clock-o fa-stack-custom-sub upper-left"></i>
              <i style="left: -2px" class="fa fa-cubes fa-lg fa-stack-custom-sub lower-left"></i>
              <i class="fa fa-tags fa-stack-custom-sub upper-right"></i>
            </i>
            <div class="pull-left site-qc-tree" id="site-cat-qc-tree">
              <i class="fa fa-spinner fa-spin fa-lg fa-fw"></i>
              <span>{% trans "Loading QC Unit, Frequency, Category Tree" %}...</span>
            </div>
            <div class="clearfix"></div>
          </div>
      </div>
    {% endif %}

    {% if perms.qa.can_review or perms.qa.can_view_completed %}
      <div class="box box-solid box-info">
        <div class="box-header">
          <h3 class="box-title">{% trans "Revisar control de calidad" %}</h3>
        </div>
        {% if perms.qa.can_review %}
          <a class="list-group-item" title="{% trans "Elija una unidad para revisar el control de calidad" %}" href="{% url 'choose_review_unit' %}">
            <i class="fa fa-cubes fa-lg fa-fw"></i> {% trans "Elija una unidad para revisar el control de calidad" %}
          </a>
          <a class="list-group-item" title="{% trans "Revisar datos" %}" href="{% url 'unreviewed' %}">
            <i class="fa fa-question-circle fa-lg fa-fw" aria-hidden="true"></i>
            {% trans "Revisar datos de control de calidad en espera de revisión" %}
            {% if perms.qa.can_review_non_visible_tli %}
              <span title="Actualmente hay {{ UNREVIEWED }} sesiones de control de calidad para revisar" class="label {% if UNREVIEWED == 0%}label-success{%else%}label-warning{%endif%} unreviewed-count-wrapper">
                <span class="total-unreviewed-count">{{ UNREVIEWED }}</span>
              </span>
            {% else %}
              <span class="fa fa-lg fa-fw" title="Actualmente hay {{ USERS_UNREVIEWED }} sesiones de control de calidad para revisar" class="label {% if USERS_UNREVIEWED == 0%}label-success{%else%}label-warning{%endif%} unreviewed-count-wrapper">
                <span class="total-unreviewed-count">{{ USERS_UNREVIEWED }}</span>
              </span>
            {% endif %}
          </a>
        {% endif %}

        {% if perms.qa.can_view_completed %}
          <a class="list-group-item" title="{% trans "Ver tendencias y gráficas de control" %}" href="{% url 'charts' %}">
            <i class="fa fa-line-chart fa-fw fa-lg"></i>
            {% trans "Ver tendencias y gráficas de control" %}
          </a>
        {% endif %}
      </div>
    {% endif %}

    {% if perms.service_log.view_serviceevent or perms.service_log.add_serviceevent or perms.service_log.perform_returntoserviceqa or perms.qa.can_review %}
      <div class="box box-solid box-info">
        <div class="box-header">
          <h3 class="box-title">{% trans "Registro de servicio" %}</h3>
        </div>

        {% if perms.service_log.view_serviceevent %}
          <a class="list-group-item" title="{% trans "Ver todos los eventos de servicio" %}" href="{% url 'sl_list_all' %}">
            <i class="fa fa-stack fa-lg fa-fw">
              <i class="fa fa-wrench fa-stack-custom-main"></i>
              <i class="fa fa-wrench fa-flip-horizontal left--5 fa-stack-custom-main "></i>
            </i>
            {% trans "Ver todos los eventos de servicio" %}
          </a>
        {% endif %}
        {% if perms.service_log.add_serviceevent %}
          <a class="list-group-item" title="{% trans "Open new service event" %}" href="{% url 'sl_new' %}">
            <i class="fa fa-stack fa-lg fa-fw">
              <i class="fa fa-wrench fa-stack-custom-main"></i>
              <i class="fa fa-plus fa-stack-custom-sub upper-left hover-sub-success"></i>
            </i>
            {% trans "Abrir nuevo evento de servicio" %}
          </a>
        {% endif %}
        {% if perms.service_log.review_serviceevent %}
          <a class="list-group-item" title="{% trans "Eventos de servicio a revisar" %}" href="{% url 'sl_list_review_required' %}">
            <i class="fa fa-stack fa-lg fa-fw">
              <i class="fa fa-wrench fa-stack-custom-main"></i>
              <i class="fa fa-question-circle fa-stack-custom-sub upper-left hover-sub-success"></i>
            </i>
            {% trans "Eventos de servicio a revisar" %}
            <span title="{% trans "Actualmente hay {{ SE_NEEDING_REVIEW_COUNT }} eventos de servicio a revisar" %}" class="label {% if SE_NEEDING_REVIEW_COUNT == 0%}label-success{%else%}label-warning{%endif%} unreviewed-count-wrapper">
                <span class="total-unreviewed-count">{{ SE_NEEDING_REVIEW_COUNT }}</span>
            </span>
          </a>
        {% endif %}

        {% if perms.service_log.perform_returntoserviceqa %}
          <a class="list-group-item" title="{% trans "Ver todas las listas de pruebas de aceptación" %}" href="{% url 'rtsqa_list_incomplete' %}">
            <i class="fa fa-stack fa-lg fa-fw">
              <i class="fa fa-pencil-square-o fa-stack-custom-main"></i>
              <i class="fa fa-share fa-rotate-180 fa-stack-custom-sub lower-extra-left hover-sub-info"></i>
            </i>
            {% trans "Ver todas las listas de pruebas de aceptación" %}

            <span title="{% trans "Actualmente hay {{ SE_RTS_INCOMPLETE_QA_COUNT }} listas de pruebas de aceptación incompletas" %}" class="label {% if SE_RTS_INCOMPLETE_QA_COUNT == 0 %}label-success{%else%}label-warning{%endif%} unreviewed-count-wrapper">
                <span class="total-unreviewed-count">{{ SE_RTS_INCOMPLETE_QA_COUNT }}</span>
            </span>
          </a>
        {% endif %}
        {% if perms.qa.can_review %}
          <a class="list-group-item" title="{% trans "Ver las pruebas de aceptación sin revisar" %}" href="{% url 'rtsqa_list_unreviewed' %}">
            <i class="fa fa-question-circle fa-lg fa-fw" aria-hidden="true"></i>
            {% trans "Ver las pruebas de aceptación sin revisar" %}
            <span title="{% trans "Actualmente hay {{ SE_RTS_UNREVIEWED_QA_COUNT }} sesiones de aceptación sin revisar" %}" class="label {% if SE_RTS_UNREVIEWED_QA_COUNT == 0%}label-success{%else%}label-warning{%endif%} unreviewed-count-wrapper">
              <span class="total-unreviewed-count">{{ SE_RTS_UNREVIEWED_QA_COUNT }}</span>
            </span>
          </a>
        {% endif %}
      </div>
    {% endif %}
  </div>
</div>
{% endblock %}
