{% load i18n %}
{% load l10n %}
{% load qatrack_tags %}
{% load static %}
<!DOCTYPE html> <!-- html5 -->
<html lang="{{ LANGUAGE_CODE }}" xmlns="http://www.w3.org/1999/html">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <meta charset="utf-8">
    <title>{% block head_title_base %}{% if SITE_NAME %}{{ SITE_NAME }}: {% endif %}{% block head_title %}{% endblock %}{% endblock %}</title>

    {% block favicon %}
      <link rel="shortcut icon" href="{% static "qatrack_core/img/favicon.ico" %}">
      <link rel="apple-touch-icon" href="{% static "qatrack_core/img/apple-touch-icon.png" %}">
    {% endblock favicon %}

    {% block style_base %}
    <link href="{% static "fontawsome/css/font-awesome.min.css" %}?v={{ VERSION }}" rel="stylesheet">
    <link href="{% static "bootstrap/css/bootstrap.css" %}?v={{ VERSION }}" rel="stylesheet">
    <link href="{% static "adminlte/css/admin-lte.css" %}?v={{ VERSION }}" rel="stylesheet">
    <link href="{% static "adminlte/css/skins/skin-black-dark.css" %}?v={{ VERSION }}" rel="stylesheet">
    <link href="{% static "qatrack_core/css/custom-adminlte.css" %}?v={{ CSS_VERSION }}" rel="stylesheet">
    <link href="{% static "qatrack_core/css/custom-fontawesome.css" %}?v={{ CSS_VERSION }}" rel="stylesheet">
    <link href="{% static "qatrack_core/css/base.css" %}?v={{ CSS_VERSION }}" rel="stylesheet">
    <link href="{% static "qatrack_core/css/print.css" %}?v={{ CSS_VERSION }}" rel="stylesheet">
      {% block extra_css %}{% endblock extra_css %}
      <link href="{% static "qatrack_core/css/site.css" %}?v={{ CSS_VERSION }}" rel="stylesheet">
    {% endblock style_base %}

    <script type="text/javascript">

        var siteConfig = {
            VERSION: '{{ VERSION }}',
            STATIC_URL: '{% static "" %}',
            DEBUG: '{{ DEBUG }}',
            USE_SQL_REPORTS: '{{ USE_SQL_REPORTS }}',
            CSRF_COOKIE_NAME: '{{ CSRF_COOKIE_NAME }}',
            PING_INTERVAL_S: {{ PING_INTERVAL_S }},

            MOMENT_DATE_DATA_FMT: '{{ MOMENT_DATE_DATA_FMT }}',
            MOMENT_DATE_FMT: '{{ MOMENT_DATE_FMT }}',
            MOMENT_DATETIME_FMT: '{{ MOMENT_DATETIME_FMT }}',
            FLATPICKR_DATE_FMT: '{{ FLATPICKR_DATE_FMT }}',
            FLATPICKR_DATETIME_FMT: '{{ FLATPICKR_DATETIME_FMT }}',
            DATERANGEPICKER_DATE_FMT: '{{ DATERANGEPICKER_DATE_FMT }}',

            CSRF_COOKIE_NAME: '{{ CSRF_COOKIE_NAME }}'
        };

        var QAURLs = {
            COMPOSITE_URL:"{% url 'composite' %}",
            AUTOSAVE_URL:"{% url 'autosave' %}",
            AUTOSAVE_LOAD_URL:"{% url 'autosave_load' %}",
            UPLOAD_URL:"{% url 'upload' %}",
            CHART_DATA_URL:"{% url 'chart_data' %}",
            CONTROL_CHART_URL:"{% url 'control_chart' %}",
            LOGIN: "{% url 'login' %}",
            MEDIA_URL: "{{MEDIA_URL}}",
            OPTION_DELIM: "=",
            OPTION_SEP: "&",
            OVERVIEW_OBJECTS: "{% url 'overview_objects' %}",
            PING: "{% url 'ping_server' %}",
            UNIT_SA_UTC: "{% url 'unit_sa_utc' %}",
            SE_SEARCHER: "{% url 'se_searcher' %}",
            TLI_STATUSES: "{% url 'tli_statuses' %}",
            TLI_SELECT: "{% url 'tli_select' %}",
            TLI_VIEW: "{% url 'view_test_list_instance' %}",
            TLI_REVIEW: "{% url 'review_test_list_instance' %}",
            TLI_BULK_REVIEW: "{% url 'qa-bulk-review' %}",
            PARTS_SEARCHER: "{% url 'parts_searcher' %}",
            PARTS_STORAGE_SEARCHER: "{% url 'parts_storage_searcher' %}",
            ROOM_LOCATION_SEARCHER: "{% url 'room_location_searcher' %}",
            UNIT_AVAIL_TIME: "{% url 'unit_available_time' %}",
            HANDLE_UNIT_AVAILABLE_TIME: "{% url 'handle_unit_available_time' %}",
            HANDLE_UNIT_AVAILABLE_TIME_EDIT: "{% url 'handle_unit_available_time_edit' %}",
            DELETE_SCHEDULES: "{% url 'delete_schedules' %}",
            HANDLE_UNIT_DOWN_TIME: "{% url 'handle_unit_down_time' %}",
            AJAX_COMMENT: "{% url 'ajax_comment' %}",
            UNIT_AT_DATA: "{% url 'get_unit_available_time_data' %}",
            UNIT_INFO: "{% url 'get_unit_info' %}",
            FAULT_TYPE_AUTOCOMPLETE: "{% url 'fault_type_autocomplete' %}",
            FAULT_BULK_REVIEW: "{% url 'fault_bulk_review' %}",
            SE_TEMPLATE: "{% url 'create_se_template' %}",
            SE_TEMPLATE_SEARCHER: "{% url 'se_template_searcher' %}",

            options_from_url_query: function(query){
                var options = [];
                if (query.slice(0, 1) === "?"){
                    query = query.slice(1);
                }
                var that = this;
                $.each(query.split(this.OPTION_SEP), function(i, elem){
                    var k_v = elem.split(that.OPTION_DELIM);
                    options.push([k_v[0], k_v[1]]);
                });
                return options;
            },

            unit_test_chart_url: function(unit, test){
                var unit_option = 'unit' + this.OPTION_DELIM + unit.number;
                var test_option = 'slug' + this.OPTION_DELIM + test.slug;
                return this.CHARTS_URL + '?' + [unit_option, test_option].join(this.OPTION_SEP);
            },
            unit_test_chart_link: function(unit, test, text, title) {
                var url = this.unit_test_chart_url(unit, test);
                if (title === undefined) {
                    title = ["View Data for", unit.name, test.name, "data"].join(" ");
                }
                return '<a href="' + url + '" title="' + title + '">' + text + '</a>';
            },
            returnYourChoice: function(form, choice){
                opener.setSearchResult(form, choice);
                window.close();
            }
        };

        var ICON_SETTINGS = {{ICON_SETTINGS_JSON|safe}};

        var TEST_STATUS_SHORT = {{TEST_STATUS_SHORT_JSON|safe}};

    </script>

    <script src="{% static "requirejs/js/require.min.js" %}?v={{ VERSION }}"></script>
    <script type="text/javascript">
        require(['{% static "requirejs/js/requirejs-config.js" %}?v={{ CSS_VERSION }}'], function () {
            {% block require_javascript %}
            {% endblock require_javascript %}
        });
    </script>
    {% block extra_js %}{% endblock extra_js %}

    {# some packages use extra_head some use head_extra :p #}
    {% block extra_head %}{% endblock extra_head %}
    {% block head_extra %}{% endblock head_extra %}
  </head>

  <body {# data-instant-allow-query-string="true" #} class="skin-black-dark fixed {% block body_class %}layout-top-nav{% endblock body_class %} preload">

    <div class="wrapper">

      {% block nav %}
      <header class="main-header">

        <nav class="navbar navbar-static-top">

          <div class="navbar-header">
            <a href="{% url "home" %}" class="logo pull-left">
              <!-- mini logo for sidebar mini 50x50 pixels -->
              <span class="logo-mini"><b>QAT+</b></span>
              <!-- logo for regular state and mobile devices -->
              <span class="logo-lg">
                <b>
                  {% firstof SITE_NAME "QAT</b>rack<b>+" %}
                </b>
              </span>
            </a>
            {% block sidebar_toggle %}
            {% endblock sidebar_toggle %}
          </div>

          <div class="navbar-menu navbar-collapse collapse out">
            {% if user.is_authenticated %}

              <ul class="nav navbar-nav main-nav">

                {% if perms.qa.add_testlistinstance %}
                  <li class="dropdown">

                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                      {% trans "Realizar control de calidad" %}
                      <span class="caret"></span>
                    </a>

                    <ul class="dropdown-menu" role="menu">
                      <li class="nav-header">{% trans "Listas de control de calidad" %}</li>
                      <li>
                        <a href="{% url "choose_unit" %}" title="{% trans "Elija una unidad específica para realizar el control de calidad" %}">
                          <i class="fa fa-cubes fa-lg fa-fw" aria-hidden="true"></i>
                          {% trans "Elija la unidad" %}
                        </a>
                      </li>
                      <li>
                        <a href="{% url "all_lists" %}" title="{% trans "Ver lista de todos los controles de calidad disponibles" %}">
                          <i class="fa fa-pencil-square-o fa-lg fa-fw" aria-hidden="true"></i>
                          {% trans "Todos los controles de calidad" %}
                        </a>
                      </li>
                      <li>
                        <a href="{% url "qa_by_overdue" %}" title="{% trans "Ver los controles de calidad que están pendientes y vencidos" %}">
                          <i class="fa fa-clock-o fa-lg fa-fw" aria-hidden="true"></i>
                          {% trans "Pendientes y vencidos" %}
                        </a>
                      </li>
                      <li>
                        <a href="{% url "in_progress" %}" title="{% trans "Reanudar una sesión de control de calidad actualmente en curso" %}">
                          <i class="fa fa-play fa-lg fa-fw" aria-hidden="true"></i>
                          <span title="{% blocktrans %}Actualmente hay {{ USERS_IN_PROGRESS}} sesiones de control de calidad en curso para tu grupo{% endblocktrans %}" class="label {% if USERS_IN_PROGRESS == 0%}label-success{%else%}label-warning{%endif%} unreviewed-count-wrapper">
                            <span class="total-in-progress-count">{{ USERS_IN_PROGRESS }}</span>
                          </span>
                          {% trans "En curso" %}
                        </a>
                      </li>
                      <li class="divider"></li>
                      <li class="nav-header">{% trans "Vistas de árbol" %}</li>
                      <li>
                        <a href="{% url "qa_frequency_tree" %}" title="{% trans "Ver los controles de calidad organizados por unidad y frecuencia" %}">
                          <i style="margin-left: 10px" class="fa fa-stack fa-fw">
                            <i class="fa fa-clock-o fa-stack-custom-sub upper-right"></i>
                            <i style="left: -2px" class="fa fa-cubes fa-lg fa-stack-custom-sub lower-left"></i>
                          </i>
                          {% trans "Controles de calidad por unidad y frecuencia" %}
                        </a>
                      </li>
                      <li>
                        <a href="{% url "qa_category_tree" %}" title="{% trans "Ver los controles de calidad organizados por unidad, frecuencia y categoría" %}">
                          <i style="margin-left: 10px" class="fa fa-stack fa-fw">
                            <i style="left: -10px" class="fa fa-clock-o fa-stack-custom-sub upper-left"></i>
                            <i style="left: -2px" class="fa fa-cubes fa-lg fa-stack-custom-sub lower-left"></i>
                            <i class="fa fa-tags fa-stack-custom-sub upper-right"></i>
                          </i>
                          {% trans "Controles de calidad por unidad, frecuencia y categoría" %}
                        </a>
                      </li>
                      {% if perms.service_log.perform_returntoserviceqa %}
                        <li class="divider"></li>
                        <li class="nav-header">{% trans "Registro de servicio" %}</li>
                        <li class="hover-parent">
                          <a href="{% url 'rtsqa_list_incomplete' %}" title="{% trans "Ver todas las pruebas de aceptación incompletas" %}">
                            <i class="fa fa-stack fa-lg fa-fw">
                              <i class="fa fa-pencil-square-o fa-stack-custom-main"></i>
                              <i class="fa fa-share fa-rotate-180 fa-stack-custom-sub lower-extra-left hover-sub-info"></i>
                            </i>
                            {% trans "Todas las pruebas de aceptación incompletas" %}
                          </a>
                        </li>
                      {% endif %}
                    </ul>
                  </li>
                {% endif %}

                {% if perms.qa.can_review or perms.qa.can_view_completed or perms.qa.can_view_overview %}
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                      {% trans "Revisar control de calidad" %}
                      {% if perms.qa.can_review %}
                        {% if perms.qa.can_review_non_visible_tli %}
                          <span
                            title="{% blocktrans %}Actualmente hay {{ UNREVIEWED }} sesiones de control de calidad sin revisar{% endblocktrans %}"
                            class="label {% if UNREVIEWED == 0 %}label-success{%else%}label-warning{%endif%} unreviewed-count-wrapper"
                          >
                            <span class="total-unreviewed-count">{{ UNREVIEWED }}</span>
                          </span>
                        {% else %}
                          <span
                            title="{% blocktrans %}Actualmente hay {{ USERS_UNREVIEWED }} sesiones de control de calidad sin revisar{% endblocktrans %}"
                            class="label {% if USERS_UNREVIEWED == 0%}label-success{%else%}label-warning{%endif%} unreviewed-count-wrapper"
                          >
                            <span class="total-unreviewed-count">{{ USERS_UNREVIEWED }}</span>
                          </span>
                        {% endif %}
                      {% endif %}
                      <b class="caret"></b>
                    </a>

                    <ul class="dropdown-menu" role="menu">
                      {% if perms.qa.can_review or perms.qa.can_view_overview %}

                        <li class="nav-header">{% trans "Estado de los controles de calidad" %}</li>

                        {% if perms.qa.can_review_non_visible_tli %}
                          <li>
                            <a href="{% url "overview" %}" title="{% trans "Ver resumen del estado de los controles de calidad" %}">
                              <i class="fa fa-globe fa-lg fa-fw" aria-hidden="true"></i>
                              {% trans "Todos" %}
                            </a>
                          </li>
                        {% endif %}

                        <li>
                          <a href="{% url "overview_user" %}" title="{% trans "Ver resumen del estado de los controles de calidad para tu grupo" %}">
                            <i class="fa fa-globe fa-lg fa-fw" aria-hidden="true"></i>
                            {% trans "Todos" %}{% if perms.qa.can_review_non_visible_tli %} - {% trans "Tus grupos" %}{% endif %}
                          </a>
                        </li>

                        {% if perms.qa.can_review_non_visible_tli %}
                          <li>
                            <a href="{% url "overview_due_dates" %}" title="{% trans "Ver controles de calidad por fecha de vencimiento" %}">
                              <i class="fa fa-calendar-check-o fa-lg fa-fw" aria-hidden="true"></i>
                              {% trans "Todos los pendientes" %}
                            </a>
                          </li>
                        {% endif %}

                        <li>
                          <a href="{% url "overview_due_dates_user" %}" title="{% trans "Ver controles de calidad para tu grupo por fecha de vencimiento" %}">
                            <i class="fa fa-calendar-check-o fa-lg fa-fw" aria-hidden="true"></i>
                            {% trans "Todos los pendientes" %}{% if perms.qa.can_review_non_visible_tli %} - {% trans "Tus grupos" %}{% endif %}
                          </a>
                        </li>

                      {% endif %}

                      {% if perms.qa.can_review %}

                        <li class="divider"></li>

                        <li class="nav-header">{% trans "Sesiones de control de calidad" %}</li>

                        {% if perms.qa.can_review_non_visible_tli %}
                          <li>
                            <a href="{% url  "unreviewed" %}" title="{% blocktrans %}Actualmente hay {{ UNREVIEWED }} sesiones de control de calidad sin revisar {% endblocktrans %}">
                              <i class="fa fa-question-circle fa-lg fa-fw" aria-hidden="true"></i>
                              <span title="{% blocktrans %}Actualmente hay {{ UNREVIEWED }} sesiones de control de calidad sin revisar {% endblocktrans %}" class="label {% if UNREVIEWED == 0%}label-success{%else%}label-warning{%endif%} unreviewed-count-wrapper">
                                  <span class="total-unreviewed-count">{{ UNREVIEWED }}</span>
                              </span>
                              {% trans "Sin revisar - Todos los grupos" %}
                            </a>
                          </li>
                        {% endif %}
                        <li>
                          <a href="{% url  "unreviewed_visible_to" %}" title="{% blocktrans %}Actualmente hay {{ USERS_UNREVIEWED }} sesiones de control de calidad sin revisar para tu grupo {% endblocktrans %}">
                            <i class="fa fa-question-circle fa-lg fa-fw" aria-hidden="true"></i>
                            <span
                              title="{% blocktrans %}Actualmente hay {{ USERS_UNREVIEWED }} sesiones de control de calidad sin revisar para tu grupo{% endblocktrans %}"
                              class="label {% if USERS_UNREVIEWED == 0%}label-success{%else%}label-warning{%endif%} unreviewed-count-wrapper"
                            >
                              <span class="total-unreviewed-count">{{ USERS_UNREVIEWED }}</span>
                            </span>
                            {% trans "Sin revisar" %}{% if perms.qa.can_review_non_visible_tli %} - {% trans "Tus grupos" %}{% endif %}
                          </a>
                        </li>
                        <li>
                          <a href="{% url 'rtsqa_list_unreviewed' %}" title="">
                            <i class="fa fa-question-circle fa-lg fa-fw" aria-hidden="true"></i>
                            <span
                              title="{% blocktrans %}Actualmente hay {{ SE_RTS_UNREVIEWED_QA_COUNT }} pruebas de aceptación sin revisar{% endblocktrans %}"
                              class="label {% if SE_RTS_UNREVIEWED_QA_COUNT == 0%}label-success{%else%}label-warning{%endif%} unreviewed-count-wrapper"
                            >
                              <span class="total-unreviewed-count">{{ SE_RTS_UNREVIEWED_QA_COUNT }}</span>
                            </span>
                            {% trans "Pruebas de aceptación sin revisar" %}
                          </a>
                        </li>
                        <li>
                          <a href="{% url  "choose_group_visible" %}">
                            <i class="fa fa-question-circle fa-lg fa-fw" aria-hidden="true"></i>
                            {% trans "Sin revisar por grupos" %}
                          </a>
                        </li>
                      {% endif %}

                      {% if perms.qa.can_view_completed or perms.qa.can_review %}

                        <li class="divider"></li>

                        <li class="nav-header">{% trans "Listas de pruebas" %}</li>

                        {% if perms.qa.can_review_non_visible_tli %}
                          <li class="hover-parent">
                            <a href="{% url "review_all" %}" title="{% trans "Ver todas las listas de pruebas" %}">
                              <i class="fa fa-users fa-lg fa-fw hover-sub-info" aria-hidden="true"></i>
                              {% trans "Todas las listas de pruebas" %}
                            </a>
                          </li>
                        {% endif %}

                        <li class="hover-parent">
                          <a href="{% url "review_your_all" %}" title="{% trans "Ver todas las listas de pruebas para tu grupo" %}">
                            <i class="fa fa-stack fa-lg fa-fw">
                              <i class="fa fa-users fa-stack-custom-main"></i>
                              <i class="fa fa-user fa-stack-custom-main hover-sub-info down-2"></i>
                            </i>
                            {% trans "Listas de pruebas de tu grupo" %}
                          </a>
                        </li>

                        <li>
                          <a href="{% url "choose_review_unit" %}" title="{% trans "Elige una unidad para revisar" %}">
                            <i class="fa fa-cubes fa-lg fa-fw" aria-hidden="true"></i>
                            {% trans "Tus listas de pruebas por unidad" %}
                          </a>
                        </li>

                        <li>
                          <a href="{% url "choose_review_frequency" %}" title="{% trans "Elije una frecuencia para revisar" %}">
                            <i class="fa fa-clock-o fa-lg fa-fw" aria-hidden="true"></i>
                            {% trans "Tus listas de pruebas por frecuencia" %}
                          </a>
                        </li>

                        {% if perms.qa.can_review_non_visible_tli %}
                          <li>
                            <a href="{% url "review_inactive" %}" title="{% trans "Ver todas las listas de pruebas inactivas" %}">
                              <i class="fa fa-file fa-lg fa-fw" aria-hidden="true"></i>
                              {% trans "Listas de pruebas inactivas" %}
                            </a>
                          </li>
                        {% else %}
                          <li>
                            <a href="{% url "review_your_inactive" %}" title="{% trans "Ver todas tus listas de pruebas inactivas" %}">
                              <i class="fa fa-file fa-lg fa-fw" aria-hidden="true"></i>
                              {% trans "Listas de pruebas inactivas de tu grupo" %}
                            </a>
                          </li>
                        {% endif %}
                      {% endif %}
                    </ul>

                  </li>
                {% endif %}

                {% if perms.service_log.add_serviceevent or perms.service_log.view_serviceevent or perms.service_log.review_serviceevent or perms.qa.can_review or service_log.view_returntoserviceqa or perms.service_log.perform_returntoserviceqa or perms.parts.add_part or perms.parts.view_part %}
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                      {% trans "Registro de servicio" %}

                      <span
                        title="{% blocktrans %}Actualmente hay {{ SL_NOTIFICATION_TOTAL }} tareas pendientes{% endblocktrans %}"
                        class="label {% if SL_NOTIFICATION_TOTAL == 0%}label-success{% else %}label-warning{% endif %} unreviewed-count-wrapper"
                      >
                        {{ SL_NOTIFICATION_TOTAL }}
                      </span>
                      <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu" role="menu">

                      <li>
                        <a href="{% url "sl_dash" %}" title="{% trans "Panel de registro de servicio" %}">
                          <i class="fa fa-th fa-lg fa-fw" aria-hidden="true"></i>
                          {% trans "Panel de registro de servicio" %}
                        </a>
                      </li>

                      {% if perms.service_log.add_serviceevent or perms.service_log.view_serviceevent or perms.service_log.review_serviceevent %}

                        <li class="divider"></li>

                        <li class="nav-header">{% trans "Eventos de servicio" %}</li>

                        {% if perms.service_log.add_serviceevent %}
                          <li class="hover-parent"><a href="{% url "sl_new" %}" title="{% trans "Crear un nuevo evento de servicio" %}">
                            <i class="fa fa-stack fa-lg fa-fw">
                              <i class="fa fa-wrench fa-stack-custom-main"></i>
                              <i class="fa fa-plus fa-stack-custom-sub upper-left hover-sub-success"></i>
                            </i>
                            {% trans "Crear un nuevo evento de servicio" %}
                            </a>
                          </li>
                          <li>
                            <a href="{% url "sl_unit_new" %}" title="{% trans "Crear un nuevo evento de servicio para una unidad específica" %}">
                              <i class="fa fa-cubes fa-lg fa-fw" aria-hidden="true"></i>
                              {% trans "Elige una unidad para crear un nuevo evento de servicio" %}
                            </a>
                          </li>
                        {% endif %}
                        {% if perms.service_log.view_serviceevent %}
                          <li class="hover-parent">
                            <a href="{% url "sl_list_all" %}" title="{% trans "Ver los eventos de servicio para una unidad" %}">
                              <i class="fa fa-stack fa-lg fa-fw">
                                <i class="fa fa-wrench fa-stack-custom-main"></i>
                                <i class="fa fa-wrench fa-flip-horizontal left--5 fa-stack-custom-main "></i>
                              </i>
                              {% trans "Ver todos los eventos de servicio" %}
                            </a>
                          </li>

                          {% if DEFAULT_SE_STATUS %}
                            <li class="hover-parent">
                              <a href="{% url 'sl_list_by_status' pk=DEFAULT_SE_STATUS.id %}" title="{% blocktrans with service_event_status=DEFAULT_SE_STATUS.name %}Ver los eventos de servicio en estado {{ service_event_status }}{% endblocktrans %}">
                                <i class="fa fa-stack fa-lg fa-fw">
                                    <i class="fa fa-wrench fa-stack-custom-main hover-sub-not" style="color: {{ DEFAULT_SE_STATUS.colour }};"></i>
                                    <i class="fa fa-wrench fa-flip-horizontal left--5 fa-stack-custom-main hover-sub-not" style="color: {{ DEFAULT_SE_STATUS.colour }};"></i>
                                </i>
                                Ver {{ DEFAULT_SE_STATUS.name }}
                            </a></li>
                          {% endif %}

                        {% endif %}
                        {% if perms.service_log.review_serviceevent %}
                          <li class="hover-parent">
                            <a href="{% url 'sl_list_review_required' %}" title="{% trans "Ver eventos de servicio que requieren revisión" %}">
                              <i class="fa fa-stack fa-lg fa-fw">
                                <i class="fa fa-wrench fa-stack-custom-main"></i>
                                <i class="fa fa-exclamation fa-stack-custom-sub upper-left hover-sub-info"></i>
                              </i>
                              <span title="{% blocktrans %}Actualmente hay {{ SE_NEEDING_REVIEW_COUNT }} eventos de servicio para revisar{% endblocktrans %}" class="label {% if SE_NEEDING_REVIEW_COUNT == 0%}label-success{%else%}label-warning{%endif%} unreviewed-count-wrapper">
                                  <span class="total-unreviewed-count">{{ SE_NEEDING_REVIEW_COUNT }}</span>
                              </span>
                              {% trans "Eventos de servicio a revisar" %}
                            </a>
                          </li>
                        {% endif %}

                        <li class="divider"></li>
                        <li class="nav-header">{% trans "Programación de servicio" %}</li>

                        <li class="hover-parent">
                          <a href="{% url "se_schedule_list_all" %}" title="{% trans "Ver todas las programaciones de servicio" %}">
                            <i class="fa fa-stack fa-lg fa-fw">
                              <i class="fa fa-wrench fa-stack-custom-main"></i>
                              <i class="fa fa-clock-o fa-stack-custom-sub upper-left hover-sub-primary"></i>
                            </i>
                            {% trans "Programaciones de servicio" %}
                          </a>

                          <a href="{% url "se_schedule_due" %}" title="{% trans "Ver eventos de servicios programados pendientes y vencidos" %}">
                            <i class="fa fa-clock-o fa-lg fa-fw" aria-hidden="true"></i>
                            {% trans "Pendientes y vencidos" %}
                          </a>
                        </li>

                        {% if perms.service_log.review_serviceevent %}
                          <li>
                            <a href="{% url "se_schedule_overview_due_dates" %}" title="{% trans "Ver eventos de servicios programados agrupados por fecha de vencimiento" %}">
                              <i class="fa fa-calendar-check-o fa-lg fa-fw" aria-hidden="true"></i>
                              {% trans "Por fecha de vencimiento - Todos" %}
                            </a>
                          </li>

                          <li>
                            <a href="{% url "se_schedule_overview_due_dates_user" %}" title="{% trans "Ver eventos de servicios programados para tus grupos" %}">
                              <i class="fa fa-calendar-check-o fa-lg fa-fw" aria-hidden="true"></i>
                              {% trans "Por fecha de vencimiento - Tus grupos" %}
                            </a>
                          </li>
                        {% endif %}

                      {% endif %}
                      {% if perms.qa.can_review or service_log.view_returntoserviceqa or perms.service_log.perform_returntoserviceqa %}

                        <li class="divider"></li>

                        <li class="nav-header">{% trans "Pruebas de aceptación" %}</li>
                        {% if perms.service_log.view_returntoserviceqa %}
                          <li class="hover-parent">
                            <a href="{% url "rtsqa_list_all" %}" title="{% trans "Ver todas las pruebas de aceptación" %}">
                              <i class="fa fa-stack fa-lg fa-fw">
                                <i class="fa fa-pencil-square-o fa-stack-custom-main"></i>
                                <i class="fa fa-share fa-rotate-180 fa-stack-custom-sub lower-extra-left hover-sub-info"></i>
                              </i>
                              {% trans "Ver todas las pruebas de aceptación" %}
                            </a>
                          </li>
                        {% endif %}

                        {% if perms.service_log.perform_returntoserviceqa %}
                          <li class="hover-parent">
                            <a href="{% url 'rtsqa_list_incomplete' %}" title="{% trans "Ver todas las pruebas de aceptación incompletas" %}">
                              <i class="fa fa-stack fa-lg fa-fw">
                                <i class="fa fa-pencil-square-o fa-stack-custom-main"></i>
                                <i class="fa fa-share fa-rotate-180 fa-stack-custom-sub lower-extra-left hover-sub-info"></i>
                              </i>
                              <span title="{% blocktrans %}Actualmente hay {{SE_RTS_INCOMPLETE_QA_COUNT}} pruebas de aceptación sin revisar{% endblocktrans %}" class="label {% if SE_RTS_INCOMPLETE_QA_COUNT == 0%}label-success{%else%}label-warning{%endif%} unreviewed-count-wrapper">
                                <span class="total-unreviewed-count">{{SE_RTS_INCOMPLETE_QA_COUNT}}</span>
                              </span>
                              {% trans "Ver todas las pruebas de aceptación incompletas" %}
                            </a>
                          </li>
                        {% endif %}

                        {% if perms.qa.can_review %}
                          <li>
                            <a href="{% url 'rtsqa_list_unreviewed' %}">
                              <i class="fa fa-question-circle fa-lg fa-fw" aria-hidden="true"></i>
                              <span title="{% blocktrans %}Actualmente hay {{SE_RTS_UNREVIEWED_QA_COUNT}} pruebas de aceptación sin revisar{% endblocktrans %}" class="label {% if SE_RTS_UNREVIEWED_QA_COUNT == 0%}label-success{%else%}label-warning{%endif%} unreviewed-count-wrapper">
                                <span class="total-unreviewed-count">{{SE_RTS_UNREVIEWED_QA_COUNT}}</span>
                              </span>
                              {% trans "Pruebas de aceptación sin revisar" %}
                            </a>
                          </li>
                        {% endif %}

                      {% endif %}


                      {% if perms.parts.add_part or perms.view_part %}
                        <li class="divider"></li>
                        <li class="nav-header">{% trans "Inventario" %}</li>
                        {% if perms.parts.add_part %}
                          <li class="hover-parent">
                            <a href="{% url "part_new" %}" title="{% trans "Añade un equipamiento nuevo" %}">
                              <i class="fa fa-stack fa-lg fa-fw">
                                <i class="fa fa-cog fa-stack-custom-main"></i>
                                <i class="fa fa-plus fa-stack-custom-sub upper-left hover-sub-success"></i>
                              </i>
                              {% trans "Añadir nuevo equipamiento" %}
                            </a>
                          </li>
                        {% endif %}

                        {% if perms.parts.view_part %}
                          <li>
                            <a href="{% url "parts_list" %}" title="{% trans "Ver todo el equipamiento" %}">
                              <i class="fa fa-stack fa-lg fa-fw">
                                  <i class="fa fa-cogs fa-flip-horizontal fa-stack-custom-main"></i>
                              </i>
                              {% trans "Ver todo el equipamiento" %}
                            </a>
                          </li>
                          <li class="hover-parent">
                            <a href="{% url "low_inventory_parts_list" %}" title="{% trans "Ver equipamiento con inventario bajo" %}">
                              <i class="fa fa-stack fa-lg fa-fw">
                                <i class="fa fa-cogs fa-flip-horizontal fa-stack-custom-main hover-sub-danger"></i>
                              </i>
                              {% trans "Ver equipamiento con inventario bajo" %}
                            </a>
                          </li>
                        {% endif %}
                        {% if perms.parts.view_supplier %}
                          <li class="hover-parent">
                            <a href="{% url "suppliers_list" %}" title="{% trans "Ver todos los proveedores" %}">
                              <i class="fa fa-stack fa-lg fa-fw">
                                  <i class="fa fa-microchip fa-flip-horizontal fa-stack-custom-main"></i>
                              </i>
                              {% trans "Ver todos los proveedores" %}
                            </a>
                          </li>
                        {% endif %}
                      {% endif %}
                    </ul>
                  </li>
                {% endif %}

                {% if perms.faults.add_fault or perms.faults.view_fault or perms.faults.review_fault %}
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                      {% trans "Registro de fallos" %}

                      <span
                        title="{% blocktrans %}Actualmente hay {{ FAULTS_UNREVIEWED }} fallos sin revisar{% endblocktrans %}"
                        class="label {% if FAULTS_UNREVIEWED == 0%}label-success{% else %}label-warning{% endif %} unreviewed-count-wrapper"
                      >
                        {{ FAULTS_UNREVIEWED }}
                      </span>
                      <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu" role="menu">

                      <li class="nav-header">{% trans "Fallos" %}</li>
                      <li>
                        <a href="{% url "fault_choose_unit" %}" title="{% trans "Elige una unidad especifica para ver sus fallos" %}">
                          <i class="fa fa-cubes fa-lg fa-fw" aria-hidden="true"></i>
                          {% trans "Elige una unidad para ver sus fallos" %}
                        </a>
                      </li>
                      <li>
                        <a href="{% url "fault_create" %}" title="{% trans "Registra un nuevo fallo" %}">
                          <i class="fa fa-stack fa-lg fa-fw">
                            <i class="fa fa-exclamation-triangle fa-stack-custom-main"></i>
                            <i class="fa fa-plus fa-stack-custom-sub upper-left hover-sub-success"></i>
                          </i>
                          {% trans "Registrar un nuevo fallo" %}
                        </a>
                      </li>
                      <li>
                        <a href="{% url "fault_list" %}" title="{% trans "Todos los fallos" %}">
                          <i class="fa fa-exclamation-triangle fa-lg fa-fw"></i>
                          {% trans "Todos los fallos" %}
                        </a>
                      </li>

                      <li>
                        <a href="{% url  "fault_list_unreviewed" %}" title="{% blocktrans %}Actualmente hay {{ FAULTS_UNREVIEWED }} fallos para revisar {% endblocktrans %}">
                          <i class="fa fa-question-circle fa-lg fa-fw" aria-hidden="true"></i>
                          <span title="{% blocktrans %}Actualmente hay {{ FAULTS_UNREVIEWED }} fallos para revisar {% endblocktrans %}" class="label {% if FAULTS_UNREVIEWED == 0%}label-success{%else%}label-warning{%endif%} unreviewed-count-wrapper">
                              <span class="total-unreviewed-count">{{ FAULTS_UNREVIEWED }}</span>
                          </span>
                          {% trans "Sin revisar" %}
                        </a>
                      </li>
                      <li>
                        <a href="{% url "fault_type_list" %}" title="{% trans "Fallos ordenados por tipo" %}">
                          <i class="fa fa-exclamation-circle fa-lg fa-fw"></i>
                          {% trans "Todos los tipos de fallos" %}
                        </a>
                      </li>
                    </ul>
                  </li>
                {% endif %}

                {% if perms.reports.can_create_sql_reports or perms.reports.can_run_sql_reports or perms.reports.can_create_reports or perms.reports.can_run_reports or perms.qa.can_view_charts or user.is_staff %}
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                      {% trans "Tendencias e informes" %}
                      <b class="caret"></b>
                    </a>

                    <ul class="dropdown-menu" role="menu">
                      {% if perms.qa.can_view_charts %}
                        <li>
                          <a href="{% url "charts" %}" title="{% trans "Gráficas" %}">
                            <i class="fa fa-line-chart fa-fw fa-lg"></i>
                            {% trans "Gráficas" %}
                          </a>
                        </li>
                      {% endif %}
                      {% if perms.reports.can_run_reports or perms.reports.can_create_reports %}
                      <li>
                        <a href="{% url "reports" %}" title="{% trans "Informes" %}">
                          <i class="fa fa-file-text-o fa-fw fa-lg"></i>
                          {% trans "Informes" %}
                        </a>
                      </li>
                      {% endif %}
                      {% if USE_SQL_REPORTS %}
                        {% if perms.reports.can_run_sql_reports or perms.reports.can_create_sql_reports %}
                          <li>
                            <a href="{% url "explorer_index" %}" title="{% trans "SQL Query Tool" %}">
                              <i class="fa fa-search fa-fw fa-lg"></i>
                              {% trans "Query Tool" %}
                            </a>
                          </li>
                        {% endif %}
                      {% endif %}
                      {% if perms.qa.can_view_charts and user.is_staff %}
                        <li class="divider"></li>
                      {% endif %}
                      {% if user.is_staff %}
                        <li class="hover-parent">
                          <a href="{% url "se_down_time" %}" title="{% trans "Ver duración de los eventos de servicio" %}">
                            <i class="fa fa-stack fa-fw fa-lg">
                              <i class="fa fa-clock-o fa-stack-custom-sub upper-left hover-sub-warning"></i>
                              <i class="fa fa-wrench fa-stack-custom-main"></i>
                            </i>
                            {% trans "Tiempos de servicio y tiempo perdido" %}
                          </a>
                        </li>
                      {% endif %}
                    </ul>
                  </li>
                {% endif %}

                {% if USE_ISSUES %}
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                      {% trans "Rastreador de incidencias" %}
                      <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                      <li>
                        <a href="{% url "issue_list" %}" title="{% trans "Todas las incidencias" %}">
                          <i class="fa fa-stack fa-fw fa-lg">
                            <i class="fa fa-bug fa-stack-custom-sub upper-left"></i>
                            <i class="fa fa-bug fa-stack-custom-main"></i>
                            <i class="fa fa-bug fa-stack-custom-sub fa-rotate-90 lower-xxleft"></i>
                          </i>
                          {% trans "Todas las incidencias" %}
                        </a>
                      </li>

                      <li class="divider"></li>

                      <li class="hover-parent">
                        <a href="{% url "issue_new" %}" title="{% trans "Crear una nueva incidencia" %}">
                          <i class="fa fa-stack fa-fw fa-lg">
                            <i class="fa fa-plus fa-stack-custom-sub upper-left hover-sub-success"></i>
                            <i class="fa fa-bug fa-stack-custom-main"></i>
                          </i>
                          {% trans "Crear incidencia" %}
                        </a>
                      </li>
                    </ul>
                  </li>
                {% endif %}
              </ul>
            {% endif %}

          </div>

        <div class="custom-nav">

          {% if user.is_authenticated %}
            <div id="control-sidebar-btn" class="nav-button" href="#">
              {{ request.user.username }} :: <i class="fa fa-gears fa-fw"></i>
            </div>
            <input type="hidden" id="username" value="{{ request.user.username }}"/>
          {% else %}
            <div id="control-sidebar-btn" class="nav-button" href="#"><i class="fa fa-gears fa-fw"></i></div>
          {% endif %}

          <div class="nav-button navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="false">
              <i class="fa fa-bars"></i>
          </div>

        </div>

        </nav>

      </header>

      {% endblock nav %}

      {% block main_sidebar %}
      {% endblock main_sidebar %}

      <div class="content-wrapper">
        {% block messages %}
          <div class="content-header">
            {% for message in messages %}
            <div class="alert fade in{% if message.tags %} alert-{{ message.tags }}{% endif %}">
              <a class="close" href="#" data-dismiss="alert">&times;</a>
              {{ message }}
            </div>
            {% endfor %}
          </div>
        {% endblock messages %}

        <div class="content">
          {% block body %}
          {% endblock %}
        </div>

        <div class="bottom-banner">
          {% block bottom_banner %}
            QATrack+ v{{ VERSION }} |
            © 2011 The Ottawa Hospital Cancer Center |
            <a href="http://docs.qatrackplus.com/en/3.1.0/user/guide.html" target="_blank">
              {% trans "Documentation" %}
            </a>
          {% endblock bottom_banner %}
        </div>
      </div>

      <aside class="control-sidebar control-sidebar-dark">

        <div class="tab-content">
          {% if user.is_authenticated %}
            <h4 class="control-sidebar-heading">{% trans "Cuenta" %}</h4>

            <ul class="control-sidebar-menu">
              <li>
                <a href="{% url 'account-details' %}" class="margin-left-10 control-sidebar-subheading">
                  <i class="fa fa-user-circle-o fa-fw"></i>
                  {% trans "Detalles de la cuenta" %}
                </a>
              </li>
              <li>
                <a href="{% url 'auth_logout' %}" class="margin-left-10 control-sidebar-subheading">
                  <i class="fa fa-sign-out fa-fw"></i>
                  {% trans "Cerrar sesión" %}
                </a>
              </li>
            </ul>

            {% if user.is_staff or perms.units.change_unitavailable_time %}
              <h4 class="control-sidebar-heading">Opciones de administrador</h4>
              <ul class="control-sidebar-menu">
                {% if user.is_staff %}
                  <li>
                    <a href="{% url 'admin:index' %}" class="margin-left-10 control-sidebar-subheading">
                      <i class="fa fa-cog fa-fw"></i>
                      {% trans "Administrador" %}
                    </a>
                  </li>
                {% endif %}
                <li class="hover-parent">
                  <a href="{% url 'unit_available_time' %}" class="margin-left-10 control-sidebar-subheading">
                    <i class="fa fa-stack fa-fw">
                      <i class="fa fa-cubes fa-stack-custom-main"></i>
                    </i>
                    {% trans "Calendario de disponibilidad de unidades" %}
                  </a>
                </li>

                {% if perms.auth.change_group %}
                  <li>
                    <a href="{% url 'groups-app' %}" class="margin-left-10 control-sidebar-subheading">
                      <span class="fa fa-stack fa-fw">
                        <i class="fa fa-users fa-stack-custom-main"></i>
                        <i class="fa fa-lock fa-stack-custom-sub primary"></i>
                      </span>
                      {% trans "Grupos y permisos" %}
                    </a>
                  </li>
                {% endif %}

              </ul>
            {% endif %}

          {% else %}
            <ul class="control-sidebar-menu">
              <li>
                <a href="{% url 'login' %}" class="margin-left-10 control-sidebar-subheading">
                  <i class="fa fa-sign-in fa-fw"></i>
                  {% trans "Iniciar sesión" %}
                </a>
              </li>
            </ul>
          {% endif %}
        </div>
      </aside>

      <!-- The sidebar's background -->
      <!-- This div must placed right after the sidebar for it to work-->
      <div class="control-sidebar-bg"></div>

      {% block extra_body_base %}
        {% block extra_body %}{% endblock %}
      {% endblock %}
    </div>

    {% block loading_modal %}{% endblock loading_modal %}

  </body>

</html>
